

.logo{
    height: 50px;
}
.carousel-item img {
    height: 70vh; /* 70% de la altura de la ventana */
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
    object-fit: cover;      /* llena todo sin deformarse */
}

.separador{
    text-align: center;
}



.card img{
    height: 25rem;
    background-color: black;
    object-fit: cover;
}

.card{
    padding-top: 10px;
    text-align: center;
    background-color:#ddc9a7;
}



.card .btn:hover{
    background-color: white;
    color: black;
}


.product-menu{
    margin: .3125rem;
}

footer{
    width: 100%;
    height: 100%;
}

