body{
    background-image: url("https://images.unsplash.com/photo-1690983327126-d0f28eaa4fdb?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover; /* Cubre toda la pantalla sin distorsionar */
    background-repeat: no-repeat; /* No se repite */
    background-position: center; /* Centra la imagen */
    background-attachment: fixed; /* Opcional: fija al hacer scroll */
    display: flex;
    flex-direction: column;
    min-height: 100vh;   /* que ocupe todo el alto de la pantalla [web:5] */

}

.logo{
    height: 50px;
}
.carousel-item img {
    height: 70vh; /* 70% de la altura de la ventana */
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
  object-fit: cover;      /* llena todo sin deformarse */
}

.card img{
    height: 25rem;
    background-color: black;
}

.card{
    padding-top: 10px;
    text-align: center;
    background-color:#ddc9a7;
}

.card-body{
    
}

.card .btn:hover{
    background-color: red;
}


footer{
    width: 100%;
    height: 100%;
}
