body{
    background-image: url("https://images.unsplash.com/photo-1690983327126-d0f28eaa4fdb?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover; /* Cubre toda la pantalla sin distorsionar */
    background-repeat: no-repeat; /* No se repite */
    background-position: center; /* Centra la imagen */
    background-attachment: fixed; /* Opcional: fija al hacer scroll */
}


.carousel-item img {
    height: 70vh; /* 60% de la altura de la ventana */
    object-fit: contain;
    object-position: center;
}

.card img{
    height: 25rem;
    background-color: black;
}

.card .card-body{
    text-align: center;
}

